
@{
    ViewBag.Title = "Cat";
}

<h2>А еще у меня есть кот. Он очень классный. Тоша, эта страница посвящена тебе</h2>
<IMG SRC="https://pp.vk.me/c4583/u18239724/127046964/z_cbb2e668.jpg" width="300"/>
<IMG SRC="https://pp.vk.me/c4583/u18239724/127046964/z_ee833815.jpg"width="300"/>
<IMG SRC="https://pp.vk.me/c606417/v606417724/1793/XGqoEacSayc.jpg "width="300"/>
<IMG SRC="https://pp.vk.me/c633328/v633328724/1cd5c/6o2LyWb6-kQ.jpg"width="300"/>
<IMG SRC="https://pp.vk.me/c4584/u18239724/127046964/z_defd618a.jpg" width="300" />
<IMG SRC="https://pp.vk.me/c631721/v631721724/1bad9/3lcohpGOc0Q.jpg" width="300" />

<p>
    <IMG SRC="https://pp.vk.me/c631721/v631721724/1ba75/0r5G1DAgnR0.jpg " width="300" />
    <IMG SRC="https://pp.vk.me/c631721/v631721724/1ba4d/_3R-JY4IZ6o.jpg" width="300" />
    <IMG SRC="https://pp.vk.me/c631721/v631721724/1ba43/t0OQp5c0jIE.jpg" width="300" />
    <IMG SRC="https://pp.vk.me/c631721/v631721724/1ba39/4l08cMRMyFY.jpg" width="300" />
    <IMG SRC="https://pp.vk.me/c631721/v631721724/1ba2f/CSlZJkNnCm4.jpg " width="300" />
    <IMG SRC="https://pp.vk.me/c631721/v631721724/1ba25/bj7zQqvtoPs.jpg" width="300" />
</p>
