
@{
    Layout = null;
}


<div>
    <h1>Всем привет</h1>
    <p>Я Миша Круглов, и это что-то типо моего личного сайта</p>
    <li>@Html.ActionLink("Тут можно посмотреть список моих любимых книг", "Index", "book")</li>
    <li>@Html.ActionLink("А здесь моя краткая биография", "bio", "book")</li>
    <p>А вот мой гитхаб: <a href="https://github.com/MKruglov">тык</a></p>
</div>