@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Моя биография</h2>
<li>До 5 Класса обучался в Лицее 369</li>
<li>До 9 Класса обучался в Лицее Искусств</li>
<li>Благополучно закончил 239 ФМЛ</li>
<li>В 2015 году поступил в ИТМО, где учусь и по сей день</li>
