@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Мои любмые книги</h2>
<li>Макс Фрай - Лабиринты Ехо</li>
<li>Томас Харрис - Молчание ягнят</li>
<li>Томас Харрис - Ганнибал</li>
<li>Айзек Азимов - Академия</li>
